<?xml version="1.0"?>
<robot name="rb1_base" xmlns:xacro="http://www.ros.org/wiki/xacro"> 


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->
	
	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import RB1 base elements -->
    <xacro:include filename="$(find rb1_base_description)/urdf/bases/rb1_base_v3.urdf.xacro" /> <!-- v3 name from engineering department -->
	
	<!-- Import RB1 wheels -->
	<xacro:include filename="$(find rb1_base_description)/urdf/wheels/rubber_wheel.urdf.xacro" />	
	<xacro:include filename="$(find rb1_base_description)/urdf/wheels/omni_wheel.urdf.xacro" />
    
	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />
  
    <!-- Import Gazebo Stuff -->
    <xacro:include filename="$(find rb1_base_description)/urdf/common.gazebo.xacro" />
    	
    <!-- Import Elevator -->
	<xacro:include filename="$(find rb1_base_description)/urdf/elevator/elevator.urdf.xacro"/>

  
	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->  
	<xacro:property name="PI" value="3.1415926535897931"/>
  
	<!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0.0" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_y" value="0.218" />    
	<xacro:property name="wheel_offset_z" value="0.0512" />
	
	<!-- Castor paramters -->
	<xacro:property name="omni_back_x" value="0.195" />
	<xacro:property name="omni_back_y" value="0.0" />
	<xacro:property name="omni_back_z" value="0.0270" />
	
	<xacro:property name="omni_front_x" value="0.132" /> 
	<xacro:property name="omni_front_y" value="0.1535" />
	<xacro:property name="omni_front_z" value="0.0270" />

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<!-- ******************* -->
	<!-- ELEVATOR PARAMETERS -->
	<!-- ******************* -->
	
	<xacro:property name="elevator_x" value="0.0" /> 
	<xacro:property name="elevator_y" value="0.0" />  
	<xacro:property name="elevator_z" value="0.213" />

	<!-- *************** -->
	<!-- Robots Elements -->
	<!-- *************** -->

	<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

	<!-- RB-1 base -->
	<xacro:rb1_base_v3 prefix="$(arg prefix)" publish_bf="true" hq="${hq}" />
  	
	<xacro:arg name="prefix" default="rb1_"/>
  
	<!-- Gazebo ros control pluggins -->
	<xacro:ros_control/>
	
	<xacro:gazebo_colors prefix="$(arg prefix)"/>
	
	<!-- WHEELS -->
	<xacro:rubber_wheel prefix="$(arg prefix)right" parent="$(arg prefix)base_link" reflect="false" hq="${hq}">
		<origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
	</xacro:rubber_wheel>
  
	<xacro:rubber_wheel prefix="$(arg prefix)left" parent="$(arg prefix)base_link" reflect="true" hq="${hq}">
		<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
	</xacro:rubber_wheel>
    
    <!-- OMNI DIRECTIONAL WHEELS -->
	<xacro:omni_wheel prefix="$(arg prefix)omni_back" parent="$(arg prefix)base_link" hq="${hq}">
		<origin xyz="-${omni_back_x} ${omni_back_y} ${omni_back_z}" rpy="0 0 0"/>
	</xacro:omni_wheel>

	<xacro:omni_wheel prefix="$(arg prefix)omni_front_left" parent="$(arg prefix)base_link" hq="${hq}">
		<origin xyz="${omni_front_x} ${omni_front_y} ${omni_front_z}" rpy="0 0 0"/>
	</xacro:omni_wheel>

	<xacro:omni_wheel prefix="$(arg prefix)omni_front_right" parent="$(arg prefix)base_link" hq="${hq}">
		<origin xyz="${omni_front_x} -${omni_front_y} ${omni_front_z}" rpy="0 0 0"/>
	</xacro:omni_wheel>

	<!-- ELEVATOR_PLATFORM -->
	<xacro:elevator_platform prefix="$(arg prefix)elevator" parent="$(arg prefix)base_link" hq="${hq}">
		<origin xyz="${elevator_x} -${elevator_y} ${elevator_z}" rpy="0 0 0"/>
	</xacro:elevator_platform>

	<!-- SENSORS -->    
    
	<xacro:sensor_sick_tim571 prefix="$(arg prefix)front_laser" parent="$(arg prefix)base_link" prefix_topic="front_laser">
		<origin xyz="0.219 0.0 0.219" rpy="0 3.1416 3.1416"/>
	</xacro:sensor_sick_tim571>   
    
	<xacro:sensor_imu_hector prefix="$(arg prefix)imu" parent="$(arg prefix)base_link">
		<origin xyz="0.002 0.053 0.1485" rpy="0 0 0"/>
	</xacro:sensor_imu_hector>
    
    <xacro:sensor_orbbec_astra prefix="$(arg prefix)front_rgbd_camera" parent="$(arg prefix)base_link" prefix_topic="front_rgbd_camera">        
        <origin xyz="0.234 0.0125 0.107" rpy="0 0 0"/>
    </xacro:sensor_orbbec_astra>  
      
</robot>

