<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- DIFFERENCIAL DRIVE GAZEBO PLUGIN -->
	<xacro:macro name="gazebo_differencial_drive">
		<gazebo>
			<plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">    
				<!--alwaysOn>true</alwaysOn-->
				<updateRate>50.0</updateRate>
				<leftJoint>$(prefix_frame)rb1_a_left_wheel_joint</leftJoint>
				<rightJoint>$(prefix_frame)rb1_a_right_wheel_joint</rightJoint>
				<!--leftJoint>joint_right_wheel</leftJoint>
				<rightJoint>joint_left_wheel</rightJoint-->
				<!-- For V0 0.365 -->
				<!-- wheelSeparation>0.365</wheelSeparation -->         
				<wheelSeparation>0.433</wheelSeparation>         
				<wheelDiameter>0.1524</wheelDiameter>
				<commandTopic>rb1/cmd_vel</commandTopic>
				<odometryTopic>odom</odometryTopic>
				<odometryFrame>$(prefix_frame)odom</odometryFrame>
				<robotBaseFrame>$(prefix_frame)base_link</robotBaseFrame>
				<!-- robotNamespace></robotNamespace -->  
				<rosDebugLevel>na</rosDebugLevel>
				<publishWheelTF>false</publishWheelTF>  
				<publishWheelJointState>true</publishWheelJointState>
				<wheelAcceleration>0</wheelAcceleration>
				<wheelTorque>5</wheelTorque>
				<!-- odometrySource>encoder</odometrySource --> 
				<odometrySource>encoder</odometrySource>  
				<legacyMode>false</legacyMode>      
				<publishTf>1</publishTf>
			</plugin>
		</gazebo>
	</xacro:macro>
	
	<xacro:macro name="ros_control" params="prefix_frame prefix_topic">
	   <gazebo>
      <plugin name="ros_control" filename="libgazebo_ros_control.so">		
        <!--robotNamespace>/rb1</robotNamespace-->
        <robotParam>robot_description</robotParam>
        <controlPeriod>0.001</controlPeriod> 
	    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      </plugin>
   </gazebo>
   </xacro:macro>

	<gazebo reference="base_footprint">
		<material>Gazebo/Green</material>
	</gazebo>
	
	<gazebo reference="base_link">
		<material>Gazebo/Grey</material>
	</gazebo>
	
	<gazebo reference="front_cover_link">
		<material>Gazebo/Black</material>
	</gazebo>
  
</robot>
