<?xml version="1.0"?>
<launch>

<arg name="id_robot" default="rb1_base"/>
   <group ns="$(arg id_robot)">

     <arg name="prefix" default="$(arg id_robot)_"/> 
      <!-- Run the map server -->
      <node name="map_server" pkg="map_server" type="map_server" args="$(find rb1_base_navigation)/maps/empty/map_empty.yaml">
        <param name="frame_id" value="$(arg prefix)map"/>
      </node>

        <!-- Throttle the voxel grid that is being published for rviz -->
        <node ns="move_base_node/local_costmap" name="voxel_grid_throttle" pkg="topic_tools" type="throttle" args="messages voxel_grid 3.0 voxel_grid_throttled" />

        <!-- for moving -->
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <!--remap from="scan" to="hokuyo/scan"/-->
            <remap from="cmd_vel" to="move_base/cmd_vel" />     <!-- use topic for gazebo plugin -->
                    <remap from="odom" to="odom" />

            <!-- move_base params -->
            <rosparam file="$(find rb1_base_navigation)/$(arg prefix)config_navigation/move_base_params.yaml" command="load" />
            <rosparam file="$(find rb1_base_navigation)/$(arg prefix)config_navigation/teb_local_planner_params.yaml" command="load" />
            <!-- rosparam file="$(find rb1_base_navigation)/$(arg prefix)config_navigation/base_local_planner_params.yaml" command="load" /-->
            <rosparam file="$(find rb1_base_navigation)/$(arg prefix)config_navigation/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find rb1_base_navigation)/$(arg prefix)config_navigation/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find rb1_base_navigation)/$(arg prefix)config_navigation/local_costmap_params.yaml" command="load" />     
            <!-- move_base local params -->
            <rosparam file="$(find rb1_base_navigation)/$(arg prefix)config_navigation/global_costmap_params_no_map.yaml" command="load" />
        </node>
        
    </group>
    
</launch>
