<?xml version="1.0"?>
<launch>
  <arg name="version" default="v2" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rb1_base_description)/robots/rb1_base_$(arg version)_elevator.urdf.xacro'" />

  <!-- publish tfs through the robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

</launch>

