<?xml version="1.0"?>
<robot name="omni_wheel" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rb1_base_description)/urdf/inertia.urdf.xacro"/>

  <!-- CONSTANTS -->
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:property name="omni_wheel_radius" value="0.051" />
  <xacro:property name="omni_wheel_height" value="0.040" />
  <xacro:property name="omni_wheel_mass" value="0.3" />

  <xacro:macro name="omni_wheel" params="prefix parent *origin hq">

    <!--WHEEL TIRE -->
    <joint name="${prefix}wheel_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}wheel_link"/>
    </joint>

    <link name="${prefix}wheel_link">
      <visual>
        <!-- HIGH RESOLUTION WHEELS -->
        <xacro:if value="${hq}">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="file://$(find rb1_base_description)/meshes/wheels/rb1v2_omniwheel.dae" />
          </geometry>
        </xacro:if>
       <!-- LOW RESOLUTION WHEELS -->
        <xacro:unless value="${hq}">
          <origin xyz="0 0 0" rpy="${M_PI/2} 0 0" />
          <geometry>
            <cylinder length="${omni_wheel_height}" radius="${omni_wheel_radius}" />
          </geometry>
        </xacro:unless>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 0" />
        <geometry>
          <cylinder length="0.03" radius="${omni_wheel_radius}" />
        </geometry>
      </collision>
      <inertial>
        <mass value="${wheel_mass}" />
        <origin xyz="0 0 0" />
        <xacro:solid_cylinder_inertia  m="${omni_wheel_mass}" r="${omni_wheel_radius}" h="${omni_wheel_height}" />
      </inertial>
    </link>

    <gazebo reference="${prefix}wheel_link">
      <mu1>0.001</mu1>
      <mu2>0.001</mu2>
      <kp>2.75e7</kp>
      <kd>8.25e1</kd>
      <fdir1>0 0 0</fdir1>
      <maxContacts>4</maxContacts>
    </gazebo>
  </xacro:macro>
</robot>
