<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="omni_wheel_gazebo" params="name">
		<gazebo reference="${name}_wheel_link">
			<mu1 value="0.0"/>
			<mu2 value="0.0"/>
			<kp value="10000000.0" />
			<kd value="1.0" />
			<fdir1 value="1 0 0"/>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>
	</xacro:macro>

</robot>
