<?xml version="1.0"?>
<launch>
<!-- rb1_base_docking -->

	<arg name="id_robot" default="robot"/>
	<arg name="prefix" value="$(arg id_robot)_"/>

	<arg name="docking_qr" default="true"/>
	<arg name="docking_laser_reflectors" default="false"/>

	<!-- Docking frames -->
	<arg name="fixed_frame" default="$(arg prefix)odom"/>
	<arg name="robot_base_frame" default="$(arg prefix)base_footprint"/>

	<!-- Dockers -->
  <node name="diff_docker" pkg="robotnik_docker" type="diff_docker_node" respawn="false" output="screen">
    <param name="robot_base_frame" type="string" value="$(arg robot_base_frame)" />
    <param name="fixed_frame" type="string" value="$(arg fixed_frame)" />
    <rosparam command="load" file="$(find rb1_base_navigation)/config/docking/diff_docker.yaml"/>
    <remap from="cmd_vel" to="docker/cmd_vel"/>
  </node>

  <node name="pp_docker" pkg="robotnik_docker" type="purepursuit_docker_node" respawn="false" output="screen">
    <param name="robot_base_frame" type="string" value="$(arg robot_base_frame)" />
    <param name="fixed_frame" type="string" value="$(arg fixed_frame)" />
    <rosparam command="load" file="$(find rb1_base_navigation)/config/docking/pp_docker.yaml"/>
    <remap from="cmd_vel" to="docker/cmd_vel"/>
  </node>


</launch>
