<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="elevator_gazebo" params="prefix">
		<gazebo reference="${prefix}_platform_link">
			<mu1 value="5.0"/>
			<mu2 value="0.5"/>
			<kp value="10000000.0" />
			<kd value="1.0" />
			<fdir1 value="1 0 0"/>
			<material>Gazebo/Yellow</material>
			<turnGravityOff>false</turnGravityOff>
			<!--kp>500000.0</kp>
			<kd>10.0</kd>
			<mu1>10</mu1>
			<mu2>10</mu2>
			<fdir1>1 0 0</fdir1-->
			<!--minDepth>0.001</minDepth-->
			<!--material>Gazebo/Black</material-->
			<!--mu1 value="10"/>
			<mu2 value="5"/>
			<kp value="500000.0" />
			<kd value="10.0" />
			<fdir1 value="1 0 0"/>
			<material>Gazebo/Yellow</material>
			<turnGravityOff>false</turnGravityOff-->
		</gazebo>
		
		<!--gazebo reference="${name}_wheel_link">
			<kp>500000.0</kp>
			<kd>10.0</kd>
			<mu1>10</mu1>
			<mu2>10</mu2>
			<fdir1>1 0 0</fdir1>
			<maxVel>1.0</maxVel>
			<minDepth>0.003</minDepth>
			<material>Gazebo/Yellow</material>
			<turnGravityOff>false</turnGravityOff>
			<implicitSpringDamper>1</implicitSpringDamper>
		</gazebo-->
	</xacro:macro>

</robot>
