<?xml version="1.0"?>
<launch>
  <!-- TEB LOCAL PLANNER -->	
  <arg name="prefix" default="rb1_base_"/> 
  <arg name="cmd_vel_topic" default="move_base/cmd_vel"/> <!-- using twist mux -->
  <arg name="odom_topic" default="robotnik_base_control/odom"/> 
  <arg name="global_frame" default="$(arg prefix)map"/> 
  <arg name="odom_frame" default="$(arg prefix)odom"/> 
  <arg name="base_frame" default="$(arg prefix)base_footprint"/>
  <arg name="scan_topic" default="front_laser/scan"/>
  
  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base">
	<rosparam file="$(find rb1_base_navigation)/config/move_base_params.yaml" command="load" />
	<rosparam file="$(find rb1_base_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
	<rosparam file="$(find rb1_base_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
	<rosparam file="$(find rb1_base_navigation)/config/local_costmap_params.yaml" command="load" />
	<rosparam file="$(find rb1_base_navigation)/config/global_costmap_params_map.yaml" command="load" />
	<rosparam file="$(find rb1_base_navigation)/config/teb_local_planner_params.yaml" command="load" />
        <!-- reset frame_id parameters using user input data -->
	<param name="global_costmap/obstacle_layer/base_front_laser/sensor_frame" value="$(arg prefix)front_laser_link"/>
	<param name="local_costmap/obstacle_layer/base_front_laser/sensor_frame" value="$(arg prefix)front_laser_link"/>
	<param name="local_costmap/global_frame" value="$(arg prefix)odom"/>
	<param name="local_costmap/robot_base_frame" value="$(arg prefix)base_footprint"/>
	<param name="global_costmap/global_frame" value="$(arg prefix)map"/>
	<param name="global_costmap/robot_base_frame" value="$(arg prefix)base_footprint"/>
	<param name="TebLocalPlannerROS/map_frame" value="$(arg prefix)map"/>
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> 
        <param name="controller_frequency" value="5.0" />
        <param name="controller_patience" value="15.0" /> 
        <remap from="cmd_vel" to="~cmd_vel" /> 
        <remap from="odom" to="$(arg odom_topic)" />       
  </node>
  
</launch>
