<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

<xacro:macro name="led" params="prefix parent *origin">

<gazebo>

   <model name='light_model'>
      <static>1</static>
      <link name="light_box">

        <visual name="${prefix}led_light">
          <pose>0.25 0 0 0 0 0</pose>
          <geometry>
            <box>
              <size>0.01 0.01 0.01</size>
            </box>
          </geometry>
          <material>
            <ambient>1 1 1 1</ambient>
            <diffuse>1 1 1 1</diffuse>
            <specular>1 1 1 1</specular>
            <emissive>0 0 0 1</emissive>
          </material>
        </visual>

        <light name='light_source' type='spot'>
          <pose frame='${prefix}_base_link'>0.25 0 0.25 0 -1.57 0</pose>
          <attenuation>
            <range>10</range>
            <linear>0.25</linear>
          </attenuation>
          <diffuse>0 0 0 1</diffuse>
          <specular>0 0 0 1</specular>
          <spot>
            <inner_angle>2.3</inner_angle>
            <outer_angle>2.35</outer_angle>
            <falloff>15</falloff>
          </spot>
          <direction>0 0 -1</direction>
        </light>
        <inertial>
          <pose>0 0 0 0 0 0</pose>
          <mass>0.1</mass>
          <inertia>
            <ixx>0.0001</ixx>
            <ixy>-0</ixy>
            <ixz>0</ixz>
            <iyy>0.0001</iyy>
            <iyz>0</iyz>
            <izz>0.0001</izz>
          </inertia>
        </inertial>
      </link>

      <plugin name='light_control' filename='libFlashLightPlugin.so'>
        <enable>true</enable>
        <light>
          <id>light_box/light_source</id>
          <duration>0.75</duration>
          <interval>0.5</interval>
        </light>
      </plugin>
   </model>

</gazebo>

</xacro:macro>

</robot>
