<?xml version="1.0"?>
<robot name="rb1_base" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

	<!-- Import RB-1 base elements -->
	<xacro:include filename="$(find rb1_base_description)/urdf/rb1_base.urdf.xacro" />
	<xacro:include filename="$(find rb1_base_description)/urdf/common.gazebo.xacro" />
 
    <xacro:property name="name" value="" />
    <xacro:property name="publish_bf" value="true" />
    <xacro:property name="hq" value="true" />

    <xacro:rb1_base prefix="${name}" publish_bf="${publish_bf}" hq="${hq}"/>
    
    <!-- ************** -->
	<!-- GAZEBO PLUGINS -->
	<!-- ************** -->
    <xacro:ros_control />
    <!--xacro:gazebo_differencial_drive /--> 
</robot>
