<?xml version="1.0"?>
<launch>
        <!-- maps inside the folder rb1_base_localization/maps -->
	<arg name="map_file" default="$(find rb1_base_localization)/maps/empty/map_empty.yaml"/>
	<arg name="prefix" default="robot_"/>
	<arg name="frame_id" default="$(arg prefix)map"/>

	<!-- Run the map server -->
	<node name="$(arg frame_id)_server" pkg="map_server" type="map_server" args="$(arg map_file)">
		<param name="frame_id" value="$(arg frame_id)"/>
	</node>

</launch>
