<?xml version="1.0"?>
<launch>

   <arg name="run_filter" default="true" />
   <arg name="imu_raw" default="mavros/imu/data" />
   <arg name="imu_mag" default="mavros/imu/mag"/> 
   <arg name="imu_filtered" default="imu/data" />
   <arg name="imu_link" default="imu_link"/> 

   <!-- launch complementary filter -->
   <include file="$(find rb1_base_localization)/launch/imu_filter.launch">

     <arg name="imu_raw" value="$(arg imu_raw)" />
     <arg name="imu_mag" value="$(arg imu_mag)" /> 
     <arg name="imu_filtered" value="$(arg imu_filtered)" />
     <arg name="imu_link" value="$(arg imu_link)" /> 

   </include>

   <node unless="$(arg run_filter)" pkg="topic_tools" type="relay" name="imu_relay" args="$(arg imu_raw) $(arg imu_filtered)" />

   <!-- start the robot_localization_utils node to provide calibration services and reset odometry -->
   <include file="$(find robot_localization_utils)/launch/rl_utils.launch"/>   
   
</launch>
