<?xml version="1.0"?>
<launch>

   <!-- launch complementary filter -->
   <include file="$(find rb1_base_localization)/launch/imu_filter.launch"/>

   <!-- start the robot_localization_utils node to provide calibration services and reset odometry -->
   <include file="$(find robot_localization_utils)/launch/rl_utils.launch"/>   
   
</launch>
