<?xml version="1.0"?>
<launch>

     <!-- node pkg="tf" type="static_transform_publisher" name="fcu_broadcaster" args="-0.015 0.060 0.150 0 0 0 1 base_footprint fcu 50"/ -->
     <node pkg="tf" type="static_transform_publisher" name="fcu_broadcaster" args="-0.015 0.060 0.150 0 0 0 1 base_link fcu 50"/> 

     <!-- ekf_loc1 fuses only continuous data (imu and odometry). Publish the tf from odom_frame to base_footprint -->
     <node pkg="robot_localization" type="ekf_localization_node" name="ekf_loc_odom" clear_params="true" output="screen">      
     <remap from="odometry/filtered" to="odometry/filtered_odom" />

     <!--param name="frequency" value="30"/>
     <param name="sensor_timeout" value="0.1"/ -->

     <param name="two_d_mode" type="bool" value="true"/>

     <param name="odom_frame" value="odom"/>
     <param name="base_link_frame" value="base_footprint"/>
     <!-- param name="world_frame" value="odom"/ -->

     <!-- param name="odom0" value="/imu_odom"/ -->       <!-- check topic name ??? -->
     <param name="odom0" value="/odom" />
     <param name="imu0" value="/imu/data"/>        <!-- Use the complementary filter -->
                                                   <!-- set to /mavros/imu/data - for using the Q attitude estimator -->
	                                           <!-- To use the IMU message published by the complementary filter, 
							set to /imu/data. Note that the complementary_filter does not 
                                                        fill the orientation covariance matrix -->

       <rosparam param="odom0_config">[true, true, false, 
                                      false, false, true, 
                                      true,  false, false, 
                                      false, false, true, 
                                      false, false, false]</rosparam> 

        <rosparam param="imu0_config">[false, false, false, 
                                       false, false, true, 
                                       false, false, false, 
                                       true, true, true, 
                                       false, false, false]</rosparam> 

      <param name="odom0_differential" value="true"/> 
      <param name="imu0_differential" value="false" /> 

      <param name="odom0_relative" value="false"/> 
      <param name="imu0_relative" value="true"/> 

      <param name="imu0_remove_gravitational_acceleration" type="bool" value="true"/>
      <param name="print_diagnostics" value="false"/>

    </node>

</launch>
