<?xml version="1.0"?>
<launch>

  <arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>
  <arg name="charge_docker_namespace" default="$(optenv ROBOT_RLC_CHARGE_DOCKER_NAMESPACE pp_docker)"/>
  <arg name="charge_dock_offset_x" default="$(optenv ROBOT_RLC_CHARGE_DOCK_OFFSET_X -0.49)"/>
  <arg name="pick_dock_offset_x" default="$(optenv ROBOT_RLC_PICK_DOCK_OFFSET_X 0)"/>
  <arg name="pick_step_in_distance" default="$(optenv ROBOT_RLC_PICK_STEP_IN_DISTANCE 0)"/>
  <arg name="place_step_out_distance" default="$(optenv ROBOT_RLC_PLACE_STEP_OUT_DISTANCE 0)"/>
  <arg name="prefix" default="$(arg id_robot)_" />
  <arg name="global_frame" default="$(arg prefix)map" />

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="terminator -m -x gdb --args" /> <!-- para depurar en la misma maquina -->

	<group ns="$(arg id_robot)">	

	  <node name="robot_local_control" pkg="robot_local_control" type="robot_local_control_node" output="screen" launch-prefix="$(arg launch_prefix)">
		<rosparam file="$(find rb1_base_robot_local_control)/config/base_configuration.yaml" command="load" />
		<param name="odom_frame" value="$(arg prefix)odom" />
		<param name="base_frame" value="$(arg prefix)base_footprint" />
		<param name="global_frame" value="$(arg global_frame)" />

		<rosparam file="$(find rb1_base_robot_local_control)/config/robot_status.yaml" command="load" ns="RobotStatusComponent" />

		<rosparam file="$(find rb1_base_robot_local_control)/config/navigation.yaml" command="load" ns="NavigationComponent"/>
		  <param name="NavigationComponent/ChargeComponent/docker_namespace" value="$(arg charge_docker_namespace)" />
		  <param name="NavigationComponent/GoToComponent/global_frame" value="$(arg global_frame)" />
		  <param name="NavigationComponent/ChargeComponent/dock_offset_x" value="$(arg charge_dock_offset_x)"/>
		  <param name="NavigationComponent/PickComponent/dock_offset_x" value="$(arg pick_dock_offset_x)"/>
		  <param name="NavigationComponent/PickComponent/step_in_distance" value="$(arg pick_step_in_distance)"/>
		  <param name="NavigationComponent/PlaceComponent/step_out_distance" value="$(arg place_step_out_distance)"/>

      <rosparam file="$(find rb1_base_robot_local_control)/config/localization.yaml" command="load" ns="LocalizationComponent"/>
      <rosparam file="$(find rb1_base_robot_local_control)/config/operation.yaml" command="load" ns="OperationComponent"/>
      <rosparam file="$(find rb1_base_robot_local_control)/config/control.yaml" command="load" ns="ControlComponent"/>
      <rosparam file="$(find rb1_base_robot_local_control)/config/process_manager.yaml" command="load" ns="ProcessManagerComponent"/>
      <param name="robot_id" value="$(arg id_robot)" />
	  </node>

	  <include file="$(find rb1_base_robot_local_control)/launch/marker_mapping.launch"/>

	</group>

</launch>
